@import "~antd/dist/reset.css";

/* https://ant.design/components/layout/ */
:root {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-lg: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1600px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  padding: 1em;
  max-width: var(--breakpoint-xl);
  margin: 0 auto;
}

@media (max-width: var(--breakpoint-lg)) {
  main {
    max-width: none;
  }
}

/* Custom Error Message */
.ant-message-notice-content {
  display: inline-block;
  /* background: #efecec; */
  border-radius: 5px;
  white-space: pre-wrap;
  color: rgb(44, 42, 42);
}

.ant-message {
    top: 20px;
}

/* Page Header */
.ant-page-header-heading {
  align-items: center;
}


.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.truncate-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

